<template>
<section class="hero is-primary is-medium is-bold">
            <div class="box ctt">
                <div class="columns is-vcentered is-justify-content-center">
                <p class="has-text-centered">
                    <span class="tag is-primary">New</span> Professional treatments from best clinics.
                </p>
                </div>
            </div>
            <div class="hero-head ">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="../">
                                <h3>Medtourism</h3>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li><router-link :to="{name: 'Home'}">Home</router-link></li>
                                        <li><router-link :to="{name: 'About'}">About-us</router-link></li>
                                        <li><router-link :to="{name: 'Treatments'}">Treatments</router-link></li>
                                        <li><a href="">Treatments</a></li>
                                        <li><a href="">Health Tourism</a></li>
                                        <li><a href="">Testimonials</a></li>
                                        <li><router-link :to="{name: 'Contact'}">Contact Us</router-link></li>
                                        <li><router-link :to="{name: 'Consultation'}">Online Consultation</router-link></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
</section>  
</template>
<script>
export default {
  name: "Navigation"
};
</script>
<style lang="scss" scoped></style>