html,body {
  background: #EFF3F4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.redish{
  background-color: red;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.box.ctt {
  max-height: 50px;
  border-radius: 0;
  border-left: none;
  border-right: none;
  align-items: center;
}
.card-image > .fa,
.card-image > .fas {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #00d1b2;
}
 
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}

.intro-2 {
  padding: 12rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1088px){
    .navbar-center {
        display:flex;
        justify-content: stretch;
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: row;
    }
    .navbar-link,.navbar-item {
        align-items: center;
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
    }
    .navbar-dropdown .navbar-item {
    justify-content:left;
    }	
}


.flight{
    background: url("./../img/topkapi.jpeg") 100% 0 no-repeat fixed;
    color: white;
   /*position: absolute;*/
   height: 100%;
   width: 100%;
   /*background-size: contain;*/
   bottom: 0px;
   margin: 0 auto;
   background-position: 50%;  
   background-size: 100% 100%;  
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0;
}

.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
margin: 10px;
position: relative;
transition: all .2s ease-in-out;
}
.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
/*adds font awesome stars*/
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}
.intro-title,
.intro-subtitle{
    color: #ffffff;
}
.hero {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slider {
    position: absolute;
    width: 100%;
}
.slider-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    min-height: 100%;
}
.hero.has-carousel .hero-carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    border: none;
    margin: auto;
    padding: 0;
    z-index: 1;
}
.hero.has-carousel {
    position: relative;
}
.hero.has-carousel .hero-carousel .slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100% !important;
    max-height: 100%;
    z-index: 0;
}
.hero.has-carousel .hero-carousel .slider .has-background {
    max-height: 100%;
}
.hero.has-carousel .hero-carousel .slider .has-background .is-background {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    height: 100%;
    width: 100%;
}