{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"
        <!-- Title -->
        <title>Medtourism</title>
        <!-- Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        
            <div class="container">
                <!-- Navbar -->
                <nav class="navbar is-light" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a href="{% url 'frontpage' %}" class="navbar-item"><strong>Medtourism</strong></a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a href="{% url 'frontpage' %}" class="button is-primary"><strong>About Us</strong></a>
                                </div>
                            </div>
                            <div class="navbar-item">
                                <div class="buttons">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'logout' %}" class="button is-danger"><strong>Logout</strong></a>
                                    {% else %}
                                        <a href="{% url 'signup' %}" class="button is-success"><strong>Signup</strong></a>
                                        <a href="{% url 'login' %}" class="button is-light"><strong>Log In</strong></a>
                                    {% endif %}                        
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>  
                <!-- End Navbar -->
                <nav class="navbar" role="navigation" aria-label="main navigation">
                  <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'frontpage' %}">
                      <img src="{% static 'img/logo.png' %}" alt="Logo" width="100" height="120">
                      <h1 class="title">Medtourism</h1>
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" 
                       data-target="navbarBasicExample">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                    </a>
                  </div>
                  <div id="navbarBasicExample" class="navbar-menu">
                    <div
                      class="navbar-center">
                      <!-- Here I have created the navbar-center class -->
                      <a class="navbar-item">About Us</a>
                      <a class="navbar-item">Dental Implant</a>
                      <a class="navbar-item">Treatments</a>
                      <a class="navbar-item">Whitening</a>
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          <i class="fas fa-search"></i>Topics</a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item">About</a>
                          <a class="navbar-item">Jobs</a>
                          <a class="navbar-item">Contact</a>
                          <hr class="navbar-divider">
                          <a class="navbar-item">Report an issue</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
            </div>  
        <!-- Main content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
        <!-- End Main Content-->
    </body>
</html>