{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h1 class="title">Sign Up</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Sign Up</button>
                        </div>
                    </div>
                </form
            </div>
        </div>
    </div>
{% endblock %}