<script setup lang="ts">
import Navigation from './components/Navigation.vue'
import Footer from './components/Footer.vue'
</script>

<template>
  <Navigation />
  <router-view :key="$route.path"></router-view>
  <Footer />
</template>

<style>
#app {
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html,
body {
  font-family: 'Open Sans', serif;
}
 
.card {
  margin-bottom: 3rem;
  border-radius: 15px;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.card-footer-item {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.card-header {
  box-shadow: 0 0.125em 0 rgba(10, 10, 10, 0.1);
}
.card-header-title {
  display: block;
}
.card-content p {
  margin-bottom: 2rem;
}
.footer {
  padding: 0;
}
.content p:not(:last-child) {
  margin-bottom: 0;
}
.subtitle a {
  color: #fc60a8;
}

.button {
  height: auto;
}

/*.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
*/

 .fade-enter-active,
 .fade-leave-active {
   transition-duration: 0.3s;
  transition-property: height, opacity;
   transition-timing-function: ease;
  overflow: hidden;
 }
.fade-enter,
.fade-leave-active {
  opacity: 0
}
.view-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}

.view-enter-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    transition-delay: 0.5s;
}

.view-enter, .view-leave-to {
    opacity: 0;
}

.view-enter-to, .view-leave {
    opacity: 1;
}
</style>
