<template>
	<!-- END NAV -->    
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						<h1 class="title is-1">Contact Us</h1>
						<p class="is-size-5">If you have any concerns or questions, feel free to contact us</p>
						<p class="is-size-5">
							You can use our phone or emails.
						</p>
						<div class="social-media is-inline">
							<a href="tel:+447496449067" target="_blank" class="button is-white is-large"><i class="fas fa-phone" aria-hidden="true"></i>+447496449067</a>
							<br>
							<a href="mailto:info@medtourism.uk" target="_blank" class="button is-white is-large"><i class="fas fa-envelope" aria-hidden="true"></i>info@medtourism.uk</a>
						 
						</div>
						<p class="is-size-4">Also you can use our social media platforms</p>
						<div class="social-media">
							<a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fab fa-instagram" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="column is-one-third has-text-left">
							<div class="field">
							  <label class="label">Full Name</label>
							  <div class="control">
							    <input class="input" type="text" v-model="name" placeholder="Text input">
							  </div>
							</div>
							<div class="field">
							  <label class="label">Email</label>
							  <div class="control has-icons-left has-icons-right">
							    <input class="input is-danger" type="email" placeholder="Email input" v-model="email">
							    <span class="icon is-small is-left">
							      <i class="fas fa-envelope"></i>
							    </span>
							    <span class="icon is-small is-right">
							      <i class="fas fa-exclamation-triangle"></i>
							    </span>
							  </div>
							  <p class="help is-danger">This email is required</p>
							</div>
							<div class="field">
							  <label class="label">Phone</label>
							  <div class="control">
							    <input class="input" type="text" v-model="phone" placeholder="Enter Your Phone">
							  </div>
							</div>
							<div class="field">
							  <label class="label">Subject</label>
							  <div class="control">
							    <input class="input" type="text" v-model="subject" placeholder="Subject...">
							  </div>
							</div>

							<div class="field">
							  <label class="label">Message</label>
							  <div class="control">
							    <textarea class="textarea" placeholder="Your message" v-model="message"></textarea>
							  </div>
							</div>

							<div class="field is-grouped">
							  <div class="control">
							    <button class="button is-link" @click="sendEmail">Submit</button>
							  </div>
							  <div class="control">
							    <button class="button is-link is-light">Cancel</button>
							  </div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 
</template>
<script>
import axios from 'axios'
axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = 'X-CSRFToken';
export default {
	
	name: 'Contact',
	data() {
		return {
			name: '',
			email: '',
			phone: '',
			subject: '',
			message: '',

		}
	},
	methods:{
		async sendEmail() {
			const formData = {
				name: this.name,
				email: this.email,
				phone: this.phone,
				subject: this.subject,
				message: this.message,
			}
			await axios
					.post('api/v1/send_email/', {
							name: this.name,
							email: this.email,
							phone: this.phone,
							message: this.message,
							subject: this.subject,
							xstfCookieName: 'csrftoken',
          		xsrfHeaderName: 'X-CSRFToken',
          		headers: {
              		'X-CSRFToken': 'csrftoken',
          		}
						})
					.then(response=> {
						toast({
							message: 'The changes was saved',
							type: 'is-success',
							dismissible: true,
							pauseOnHover: true,
							duration: 2000,
							position: 'bottom-right',
						})
						this.formData = {}
					})
					.catch(error => {
						console.log(JSON.stringify(error))
					})

		}
	}
};
 
</script>
<style lang="scss" scoped>
	.social-media {
  margin-top: 30px;
}

.social-media a {
  margin-right: 10px;
}

.field:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: calc(3.25rem + 20px);
  }

  .navbar {
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .hero.is-fullheight {
    min-height: calc(100vh - 6.5rem - 40px);
  }
}
</style>
 