<template>
    <section class="section">
      <div class="container">
        <div class="has-text-centered" id="services-text-container">
          <h1 class="title is-1">How to get consultation?</h1>
          <h4 class="subtitle">
            Follow these steps and we will try to give you best details for your treatment plans.
          </h4>
        </div>
        <br />
        
        <div class="columns">
          <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <i class="fa fa-camera"></i>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                      <p class="title is-4">Take & Send your pictures </p>
                      <p>You can use our contact form, email us, skype,
                      Whatsapp or call us.</p>
                      <p><a href="#">Learn more</a></p>
                  </div>
                </div>
              </div>
          </div>
          <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image ">
                    <i class="fa fa-envelope"></i>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                      <p class="title is-4">Get your package offer</p>
           
                      <p>Your personal treatment plans and package offers will be e-mailed to you after your pictures</p>
                      <p><a href="#">Learn more</a></p>
                  </div>
                </div>
              </div>
          </div>
          <div class="column is-one-third">
              <div class="card">
                <div class="card-image mb-3">
                  <figure class="image">
                    <i class="fas fa-solid fa-plane-departure"></i>
                  </figure>
                </div>
                <div class="card-content ">
                    <div class="content">
                        <h4> Book your ticket </h4>
                        <p>We offer you VIP service or either you can plan your journey or leave it us to plan for you.</p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="is-medium  is-centered">
      <div class="container has-size-3 is-3">
        <h1 class="title">Why Choose Us</h1>
        <div class="columns is-multiline">
          <div class="column is-6 has-background-info has-text-white">
            <h2 class="subtitle has-text-white pt-6   px-8">We offer quality care and services to patients</h2>
            <p class="has-text-justified">Our dental professionals use the latest technology and to offer cutting edge treatment for your needs. We provide quality care and top rated services in a comfortable environment at an affordable rate. At the Dental Clinic London, we are committed to making every visit to our clinic enjoyable. Our preventive dentistry ensures we take care of your teeth, maintain the health of your mouth and keep it free from gum disease and tooth decay.</p>
          </div>
          <div class="column is-6 has-background-link-dark has-text-white">
            <h2 class="subtitle has-text-white pt-6 mb-4 px-8">Restore your health with your professionals</h2>
            <p class="has-text-justified">Our dental practitioners aim to give you straighter teeth and a gorgeous smile. From dental implants to teeth whitening, dental veneers to invisible braces, we have in-depth knowledge, offering you the best solutions for the perfect smile you have always wanted. Tooth whitening is a very popular method of brightening teeth and achieving a whiter smile. You may opt for a white filling, dental bridges or other treatments, as suggested by our private dentist in London, to keep your teeth and gums strong and healthy for life.</p>
          </div>
          <div class="column is-6 has-background-link-dark has-text-white">
            <h2 class="subtitle has-text-white pt-6   px-8">Your Comfort and Safety is our concern</h2>
              <p class="has-text-justified">We mainly focus on providing our clients with the finest experience during their visit. Our dental surgeons use cutting-edge technology to provide quality treatment in a comfortable and relaxed environment. Our staff are dedicated to offering top-rated treatment for all dental problems. We also have a vast experience dealing with anxious and nervous patients ensuring that treatment is done gently and comfortably.</p>
          </div>
          <div class="column is-6 has-background-info has-text-white">
            <h2 class="subtitle has-text-white pt-6   px-8">Our dentist will solve your oral problems fast</h2>
            <p class="has-text-justified">Our dental practitioners aim to give you straighter teeth and a gorgeous smile. From dental implants to teeth whitening, dental veneers to invisible braces, we have in-depth knowledge, offering you the best solutions for the perfect smile you have always wanted. Tooth whitening is a very popular method of brightening teeth and achieving a whiter smile. You may opt for a white filling, dental bridges or other treatments, as suggested by our private dentist in London, to keep your teeth and gums strong and healthy for life.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns  is-centered">
          <div class="column is-half">
            <div class="aspect-w-1  aspect-h-1">
              <iframe width="800" height="600" src="https://www.youtube.com/embed/zwu--ObreoQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="has-text-centered" id="services-text-container">
          <h1 class="title is-1">Our Treatments</h1>
          <h4 class="subtitle">
            We will provide you best services in best clinics.
          </h4>
        </div>
        <br />
        <div class="columns is-multiline">
          <div 
            class="column is-one-fourth"
            v-for="category in categories"
            v-bind:key="category.id"
          >
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img :src="category.get_image" :alt="category.title">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">{{category.title}}</p>
                  </div>
                </div>

                <div class="content">
                  <p class="has-text-left">{{category.excerpt}}</p>
                  <br>
                  <button class="button is-info">Learn more...</button>
                </div>
              </div>
            </div>
        </div>
       </div>
      </div>
    </section>
</template>
<script>
import axios from 'redaxios'
//import 'vue3-carousel/dist/carousel.css';
//import bulmaCarousel from 'bulma-carousel/dist/js/bulma-carousel.min.js'
export default {
	name:'Home',
	//components: {
	//    Carousel,
	//    Slide,
	//    Pagination,
	//    Navigation,
  //	},
  //	mounted(){
  		// Initialize all elements with carousel class.
	//	const carousels = bulmaCarousel.attach('.carousel', {});

		// To access to bulmaCarousel instance of an element
	//	const element = document.querySelector('#my-element');
  //  		if (element && element.bulmaCarousel) {
    			// bulmaCarousel instance is available as element.bulmaCarousel
  //  		}
  //      this.getTreatments()
  //	},
  	data () {
        return {
            categories: [],
            images: [
            			{id: 1, number: 'slide-1', url:'./../static/src/assets/img/bodrum.jpg'}, 
            			{id: 2, number: 'slide-2', url:'./../static/src/assets/img/istanbul.jpeg'}, 
            			{id: 3, number: 'slide-3', url:'./../static/src/assets/img/antalya.jpeg'}
            		]
        }
    },
    mounted() {
      this.getCategories()
    },
    methods: {
    	getImgUrl(image) {
    		console.log(image.url)
		    return `${image}.url`
	  	},
        getCategories() {
            axios
                .get('/api/v1/categories/')
                .then(response => {
                    console.log(response)
                    this.categories = response.data.results
                })
                .catch(error => {
                    console.log(JSON.stringify(error))
                }) 
        }

    }
};
</script>
<style lang="scss" scoped>
.card-image > .image > .fa, .card-image .image > .fas {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(22, 189, 202)
}

</style>
 