<template>
	<section class="section is-medium is-centered">
		<PageComponent :page='page' />
	</section>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import PageComponent from './../components/PageComponent.vue'
import axios from 'redaxios'
import { useRoute } from 'vue-router'
export default  defineComponent({ 
	name: 'Page',
	components: {
		PageComponent
	},
	data() {
		return {
			page: Object		
		}
	},
	methods: {
		async getPage() {
			const route = useRoute()
			const pageSlug = route.params.slug
			await axios
				.get(`/api/v1/pages/${pageSlug}/`)
				.then(response => {
					this.page= response.data
				})
		},
	},
	async created() {
		const route = useRoute()
		
		await this.getPage()
		this.$watch (() => route.params, () => this.getPage())
	}
});
</script>
<style lang="css" scoped>

</style>
 