<template>
	<div class="courses">
		<div class="hero is-info">
			<nav class="breadcrumb pt-5 pl-5" aria-label="breadcrumbs">
				<ul>
					<li><router-link :to="{ name: 'Home'}">Home</router-link></li>
					<li class="is-active">
						<router-link to="/treatments" aria-current="true">Treatments</router-link>
					</li>
				</ul>
			</nav>
			<div class="hero-body has-text-centered">
				<h1 class="title">Treatments</h1>
			</div>
		</div>
		<section class="section">
			<div class="container">
				<div class="columns is-multiline">
					<div class="column is-2">
						<aside class="menu">
							<p class="menu-label is-title is-4">Categories</p>
							<ul class="menu-list">
								<li>
									<a 
										v-bind:class="{'is-active' : !activeCategory}"
										@click="setActiveCategory(null)"
									>All Treatments</a></li>
								<li
									v-for="category in categories"
									v-bind:key="category.id"
									
									@click="setActiveCategory(category)"
								><a>{{category.title}}</a></li>
							</ul>
						</aside>
					</div>
					<div class="column is-10">
						<div class="columns is-multiline">
							<Treatment :treatment="treatment" />
							
						</div>
						<div class="columns">
							<div class="column">
								<nav class="pagination">
									<a class="pagination-previous">Previous</a>
									<a class="pagination-next">Next</a>
									<ul class="pagination-list">
										<li>
											<a class="pagination-link is-current">1</a>
										</li>
										<li>
											<a class="pagination-link">2</a>
										</li>
										<li>
											<a class="pagination-link">3</a>
										</li>
									</ul>
								</nav>
							</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</template>
<script lang="js">
import axios from 'axios'
import TreatmentItem from './../components/TreatmentItem.vue'
export default {
    data() {
        return {
            treatments: [],
            categories: [],
            activeCategory: null
        }
    },
    components: {
        CourseItem
    },
    async mounted() {
        console.log('mounted')
        document.title = 'Treatments | MedToursim'
        await axios
            .get('/api/v1/get_categories/')
            .then(response => {
                this.categories = response.data
            })
        
        this.getCourses()
    },
    methods: {
        setActiveCategory(category) {
            this.activeCategory = category
            this.getTreatments()
        },
        getCourses() {
            let url = '/api/v1/get_treatments/'
            if (this.activeCategory) {
                url += '?category_id=' + this.activeCategory.id
            }
            axios
                .get(url)
                .then(response => {
                    this.courses = response.data
                })
        }
    }
}
</script>
<style lang="scss" scoped>
.hero  {
	border-radius: 25px;
}
</style>
