<template>
	<section class="section">
      <div class="container">
        <div class="has-text-centered" id="services-text-container">
          <h1 class="title is-1">Our Treatments</h1>
          <h4 class="subtitle">
            We will provide you best services in best clinics.
          </h4>
        </div>
        <br />
        <div class="columns">
          <div 
            class="column is-one-third"
            v-for="treatment in treatments"
            v-bind:key="treatment.id"
            >
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img :src="treatment.image" :alt="treatment.title">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">treatment.title</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
        </div>
       </div>
      </div>
    </section>
</template>
<script>
import axios from 'redaxios'
export default {
	name:'Treatments',
 
  	mounted(){
        this.getTreatments()
  	},
  	data () {
        return {
            treatments: [],
        }
    },
    methods: {
    	getImgUrl(image) {
    		console.log(image.url)
		    return `${image}.url`
	  	},
        getTreatments() {
            axios
                .get('/api/v1/treatments/')
                .then(response => {
                    for(let i = 0; i < response.data.results.length; i++) {
                        this.treatments.push(response.data.results[i])
                    }
                })
                .catch(error => {
                    console.log(JSON.stringify(error))
                }) 
        }

    }
};
</script>
</script>
<style lang="scss" scoped></style>
