<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>
<body>
	<h1>You have an email request</h1>
	<h1>{{message}}</h1>
</body>
</html>