<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>
<body>
	<h1>You have an email request from {{ contact_email }}</h1>
	<h1>The subject is {{subject}} </h1>
	<p> The message is {{ message }}</p>
	<p> Phone number is {{ phone }}</p>
</body>
</html>