<template>
	<div class="container mx-auto max-w-5xl">
		<div class="text-lg
					leading-9
					tracking-wider
					text-serif
					mt-20
					px-2
					py-4
					shadow-md
					rounded-md
					bg-white 
					" v-html="page.content">
		</div>
	</div>
</template>
<script>
import gql from "graphql-tag";

export default {
	name: 'About',
	data () {
    	return {
      		page: '',
    	}
  	},
	async created () {
	    const page = await this.$apollo.query({
	        query: gql`query ($slug: String!) {
	          pageBySlug(slug: $slug) {
	            title
	            slug
	            content
	        	}
	    	}`
	    		,
	        variables: {
	          slug: "about-us",
	        },
	    })
	    this.page = page.data.pageBySlug
	  },
};
</script>
<style lang="scss" scoped></style>
 