		<template>
			<div class="container mx-auto px-4 py-6 font-sans text-lg">
				<div class="grid grid-cols-4 gap-8">
					<div  class="
								bg-white
								px-4
								py-20
								shadow-md 
								rounded-md 
								col-start-1  
								col-end-3 
								mt-20">
				    	<p class="font-sans">
				    		You can ask any kind of problems and questions here.
				    	</p>
				    	<p>
				    		Your e-mail address is required. If you enter your mobile number, we will contact you via phone.
				    	</p>

				    	<p>
				    		We thank you and we wish healthy days for you.
				    	</p>
					</div>
					<div  class="
								p-4 
								shadow-md 
								rounded-md 
								mt-20
								bg-white 
								col-start-3 
								col-end-8">
				    
						<form method="POST" class="mx-auto ">
							<div class="field is-horizontal  px-4 py-3  w-full">
							  <div class="field-label is-normal">
							    <label class="label">From</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="form-input w-96" type="text" placeholder="Name">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
							    </div>
								</div>
							</div>
							<div class="field is-horizontal  px-4 py-3 ">
							  <div class="field-label is-normal">
							    <label class="label">Email</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="form-input w-96" type="email" placeholder="Email">
							        <span class="icon is-small is-left">
							          <i class="fas fa-envelope"></i>
							        </span>
							        <span class="icon is-small is-right">
						          		<i class="fas fa-check"></i>
						        	</span>
							      </p>
							    </div>
								</div>
							</div>

							<div class="field is-horizontal  px-4 py-3 ">
							  <div class="field-label">
							   	<label class="label">Phone Number</label>
							  </div>
							  <div class="field-body">
							    <div class="field is-expanded">
							      <div class="field has-addons">
 
							        <p class="control is-expanded">
							          <input class="form-input w-96" type="tel" placeholder="Your phone number">
							        </p>
							      </div>
							      <p class="help">Do not enter the first zero</p>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal px-4 py-3 ">
							  <div class="field-label is-normal">
							    <label class="label">Subject</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <input class="form-input w-96" type="text" placeholder="e.g. Partnership opportunity">
							      </div>
							      <p class="help is-danger">
							        This field is required
							      </p>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal px-4 py-3 ">
							  <div class="field-label is-normal">
							    <label class="label">Question</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <textarea class="form-input w-96" placeholder="Explain how we can help you"></textarea>
							      </div>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label">
							    <!-- Left empty for spacing -->
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <button class="button is-primary">
							          Send message
							        </button>
							      </div>
							    </div>
							  </div>
							</div>
							</form>
						</div>	
				</div>	
			</div>
 		</template>
		<script>
		export default {
			name: "Contact",
		};
		</script>
		<style lang="scss" scoped></style>
 