<template>
<div class="container mx-auto">
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            <!--Card 1-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <i class="fa fa-camera"></i>
                </div>    
          
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Take Pictures</div>
                    <p class="text-gray-700 text-base">
                      Take pictures about your complaints. Take various pictures and  send them to us using our contact form or email.
                    </p>
                </div>
            </div>
        </div>
            <!--Card 2-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image ">
                <div class="card-image text-center">
                    <i class="fa fa-envelope"></i>
                </div>
              
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Send us</div>
                    <p class="text-gray-700 text-base">
                      Contact us using our contact form or email. Send a  detailed explanation about  your complaints. That will help us to guide you correctly.
                    </p>
                </div>
                
            </div>
        </div>
            

            <!--Card 3-->
        <div class="card is-shady ">
            <div class="rounded overflow-hidden shadow-lg">
                <div class="card-image text-center">
                    <i class="fas fa-solid fa-plane-departure"></i>
                </div>
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Get Your Plan</div>
                    <p class="text-gray-700 text-base">
                      We will  contact you to tell your detailed travel and treatment plan and prepare special offers for you by email or through phone.
                    </p>
                </div>
            </div>
        </div>
            
    </div>
</div>
<div class="flight intro-2"></div>
<div
  class="
    container
    p-10
    mx-auto
    my-16
    text-center
    rounded-xl
    grid 
    grid-cols-1 
    sm:grid-cols-1 
    md:grid-cols-3 
    lg:grid-cols-3 
    xl:grid-cols-3 
    gap-5
  "
  
  

>
<div class="flex justify-center">
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
    <a href="#!">
      <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
      <p class="text-gray-700 text-base mb-4">
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <button type="button" class=" px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button>
    </div>
  </div>
</div>
        
           <!--Card 1-->
        <div class="card is-shady" v-for="(treatment, index) in allTreatments"
  :treatment="treatment"
  :index = "index"
  :key="treatment.id">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link :to="{ name:  'Treatment', params: {slug: treatment.slug}}">
                        <img src="{{treatment.image}}" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">{{treatment.title}}/div>
                        <p class="text-gray-700 text-base" v-html="treatment.excerpt"></p>
                        <router-link :to="{name:'Treatment', params:{slug:'treatment.slug'}}">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>         
    </div>    
</div>    
</template>
 

<script>
import gql from "graphql-tag";

export default {
    name: 'Home',
 
    data () {
        return {
            treatments: [],
        }
    },
    apollo: {
        allTreatments: {
                query: gql`
                    query {
                        allTreatments {
                            title
                            slug
                            excerpt
                        }
                    }
                `
        }
    }
 
};
</script>
<style lang="scss" scoped></style>
  
    