<template>
<footer class="footer has-background-primary">
      <div class="content has-text-centered has-text-white">
        <h1 class="is-title is-small has-text-white">MedTourism</h1>
        <div class="columns">
          <div class="column">
            <h6 class="is-title is-4 has-text-white" >About Us</h6>
            <p class="has-text-center">Medtourism is a medical company aims to assist patients to take ethical health care in Turkey.
            </p>
            <div class="has-background-primary has-text-white bottom">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-large">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-linkedin-square"></i>
          </div>
 
        </div>
      </div>
    </div>
          </div>
          <div class="column">
            <h6 class="is-title is-4 has-text-white">Links</h6>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Treatments</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
          <div class="column">
            <h6 class="is-title is-4 has-text-white">Site Rules</h6>
            <ul>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Site Rules</a></li>
              <li><a href="#">Insurance</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="column">
            <h6 class="is-title is-4 has-text-white">Subscribe</h6>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="email" placeholder="Email">
              <span class="icon is-left">
              <i class="fa fa-envelope"></i>
              </span>
            </div>
            <a class="button is-success is-rounded">Subscribe</a>
          </div>
        </div>
      </div>
    </footer>
    
		</template>
		<script>
		export default {
			name:'Footer'
		};
		</script>
<style lang="css" scoped>
.footer{
	padding: 1.2rem;
}
 
      .content ul{
      padding: 0;
      margin: 0;
      }
      .content ul li{
      list-style-type: none;
      text-align: center;
      padding: 5px;
      }
      .content ul li a{
      color: #fff;
      font-size: 1rem;
      }
      .content ul li a:hover{
      color: #ddd;
      }
 
      .is-success{
      margin-top: 15px;
      }
      .fa{
      padding-right: 10px;
      font-size: 24px;
      cursor: pointer;
      }
      .control.has-icons-left .icon.is-left{
      left: 5px;
      }
      p{
      font-size: 18px;
      }
      .is-success:hover{
      background: #0f8438 !important;
      }
      @media(max-width: 768px){
      .bottom p,.has-text-right{
      text-align: center !important;
      }
      }
</style>
  
