<template>
<div class="box cta is-centered  ">
  <p class="has-text-centered">
	  <ul>
	  	<li class="is-inline mr-5"><a href="tel:+447496449067" class="has-background-primary is-primary has-text-white p-4" target="_blank">Call for free consultation</a>
		</li>
	    <li class="is-inline mr-5"><a href="tel:+447496449067" class="has-text-black" target="_blank"><i class="fas fa-phone" aria-hidden="true"></i>+447496449067</a>
		</li>
	    <li class=" is-inline"><a href="mailto:info@medtourism.uk" class="has-text-black" target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i>info@medtourism.uk</a></li>
	  </ul>
  </p>
</div>
<div class="wrapper">
	<nav class="navbar container" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <router-link class="navbar-item" :to="{ name: 'Home'}">
	      <img src="./../assets/img/logo.png" height="80">
	    </router-link>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>

	  <div id="navbarBasicExample" class="navbar-menu">
	    <div class="navbar-end ">
	      <router-link :to="{ name:'Home'}" class="navbar-item">
	        Home
	      </router-link>

	      <router-link :to="{ name:'Page', params:{slug:'about-us'}}" class="navbar-item">
	        About Us
	      </router-link>

	      <div class="navbar-item has-dropdown is-hoverable">
	        <router-link :to="{ name:'Home'}"  class="navbar-link">
	          Treatments
	        </router-link>

	        <div class="navbar-dropdown">
	          <router-link :to="{ name:'Contact'}" class="navbar-item">
	           Dental Implants
	          </router-link>
	          <router-link :to="{ name:'Contact'}" class="navbar-item">
	           Dental Treatments
	          </router-link>
	          <router-link :to="{ name:'Contact'}" class="navbar-item">
	           Hair Transplantation
	          </router-link>
	          <router-link :to="{ name:'Contact'}" class="navbar-item">
	           Cosmetic Operations
	          </router-link>
	          <router-link :to="{ name:'Home'}" class="navbar-item">
	            Spine Surgery
	          </router-link>
	          <router-link :to="{ name:'Home'}" class="navbar-item">
	            Oncology
	          </router-link>
	          <hr class="navbar-divider">
	        </div>
	      </div>
	      <router-link :to="{ name:'Page', params: {slug:'medical-tourism'}}" class="navbar-item">
	            Medical Tourism
	          </router-link>
      		<router-link :to="{ name:'Contact'}" class="navbar-item">
	           Health&Travel Insurance
	    	</router-link>
	      <router-link :to="{ name:'Contact'}" class="navbar-item">
	            Contact
	          </router-link>
	      <router-link :to="{ name: 'Home'}" class="navbar-item">
	       	<button  class="button is-success">Get A Quote</button>
	      </router-link>
	    </div>
	  </div>
	</nav>
	
</div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.navbar{
	height: 80px;
	margin-bottom: 20px;
}
</style>
