<template>
	<h1 class="title is-1">{{ page.title }}</h1>
	<div class="container has-size-6">
		<div class="columns is-centered is-vcentered is-mobile">
			<div class="column is-narrow has-text-centered is-6 has-text-left has-text-weight-medium" v-html="page.content">
			</div>
		</div>
	</div>
</template>
<script lang="ts">
export default {
	props: ['page']
}
</script>