<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import Navigation from './components/Navigation.vue'
import Footer from './components/Footer.vue'
</script>

<template>
  <Navigation />
  <router-view />
  <Footer />
</template>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  
}
.o-car__indicators {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--oruga-carousel-indicators-padding,.5rem);
    background: var(--oruga-carousel-indicators-background,rgba(255,255,255,.5));
}
.o-car__indicator:not(:last-child) {
    margin: var(--oruga-carousel-indicator-margin,0 .5rem 0 0);
}
a {
    text-decoration:none;
}
</style>
