/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Open  Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,500;1,600&display=swap');
/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,500;1,600&family=Raleway:wght@200;300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/solid.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&family=Merriweather:ital,wght@0,400;0,700;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,500;1,600&family=Raleway:wght@200;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

