<template>
  <Navigation />
  <router-view />
  <Footer />
</template>
<script lang="ts">
import {defineComponent, ref} from "vue";
import Navigation from "./components/Navigation";
import Footer from "./components/Footer";
import "./assets/css/style.css";
export default defineComponent({
  components: {
    Navigation,
    Footer,
  }
});
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
