<template>
  <nav class="bg-white shadow dark:bg-gray-800 text-xl">
  <div
    class="
      container
      px-6
      py-3
      mx-auto
      md:flex md:justify-between md:items-center
    "
  >
    <div class="flex items-center justify-between">
      <div>
        <a
          class="
            text-xl
            font-bold
            text-gray-800
            dark:text-white
            md:text-2xl
            hover:text-gray-700
            dark:hover:text-gray-300
          "
          href="#"
          >MedTourism</a
        >
      </div>

      <!-- Mobile menu button -->
      <div @click="showMenu = !showMenu" class="flex md:hidden">
        <button
          type="button"
          class="
            text-gray-500
            dark:text-gray-200
            hover:text-gray-600
            dark:hover:text-gray-400
            focus:outline-none focus:text-gray-600
            dark:focus:text-gray-400
          "
          aria-label="toggle menu"
        >
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div :class="showMenu ? 'flex' : 'hidden'" class="items-center md:flex">
      <div class="flex flex-col md:flex-row md:mx-6">
        <router-link
          class="
            my-1
            text-gray-700
            dark:text-gray-200
            hover:text-indigo-500
            dark:hover:text-indigo-400
            md:mx-4 md:my-0
          "
          :to="{ name: 'Home' }"
          >Home</router-link
        >
        <a
          class="
            my-1
            text-gray-700
            dark:text-gray-200
            hover:text-indigo-500
            dark:hover:text-indigo-400
            md:mx-4 md:my-0
          "
          href="#"
          >Treatments</a
        >
        <router-link
          class="
            my-1
            text-gray-700
            dark:text-gray-200
            hover:text-indigo-500
            dark:hover:text-indigo-400
            md:mx-4 md:my-0
          "
          :to="{ name:  'About'}"
          >About Us</router-link
        >
        <router-link
          class="
            my-1
            text-gray-700
            dark:text-gray-200
            hover:text-indigo-500
            dark:hover:text-indigo-400
            md:mx-4 md:my-0
          "
          :to="{ name: 'Contact'}"
          >Contact</router-link
        >
        
      </div>
    </div>
  </div>
</nav>



</template>
<script>
export default {
  name: "Navigation",
  data () {
    return {
      showMenu: false,
    }
  },
};
</script>
<style lang="scss" scoped></style>