

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}
.top-navbar {
  height: 0;
  transition: height .3s ease-in-out;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
  min-height: 400px;
}
.card-thumbnail {
  max-height: 400px;
  min-height: 340px;
}
.card-height {
  height: 220px;
}
.card-content {
  height: 180px;
}
.card-image > .fa,
.card-image > .fas {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #00d1b2;
  min-height: 200px;
}
 
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}


.is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}