		<template>
			<section class="section is-medium">
				<div class="columns">
					<div class="column is-2">
						<div class="container">
					    	<p>
					    		Please, send us photos from several angles that show aperture of your hair.
					    	</p>
					    	<p>
					    		Your e-mail address is required. If you enter your mobile number, we will contact you via phone.
					    	</p>

					    	<p>
					    		We thank you and we wish healthy days for you.
					    	</p>
					    </div>	
					</div>
				  	<div class="column is-6">
				    
						<form method="POST">
							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">From</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="input" type="text" placeholder="Name">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
							    </div>
							    <div class="field">
							      <p class="control is-expanded has-icons-left has-icons-right">
							        <input class="input is-success" type="email" placeholder="Email" value="alex@smith.com">
							        <span class="icon is-small is-left">
							          <i class="fas fa-envelope"></i>
							        </span>
							        <span class="icon is-small is-right">
							          <i class="fas fa-check"></i>
							        </span>
							      </p>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label"></div>
							  <div class="field-body">
							    <div class="field is-expanded">
							      <div class="field has-addons">
							        <p class="control">
							          <a class="button is-static">
							            +44
							          </a>
							        </p>
							        <p class="control is-expanded">
							          <input class="input" type="tel" placeholder="Your phone number">
							        </p>
							      </div>
							      <p class="help">Do not enter the first zero</p>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Subject</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
							      </div>
							      <p class="help is-danger">
							        This field is required
							      </p>
							    </div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Question</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
							      </div>
							    </div>
							  </div>
							</div>
							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Photo 1</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="input" type="file" placeholder="Photo 1">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
						    	</div>
						      </div>
						    </div>
						    <div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Photo 2</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="input" type="file" placeholder="Photo 2">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
						    	</div>
						      </div>
						    </div>
						    <div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Photo 3</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="input" type="file" placeholder="Photo 3">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
						    	</div>
						      </div>
						    </div>
						    <div class="field is-horizontal">
							  <div class="field-label is-normal">
							    <label class="label">Photo 4</label>
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <p class="control is-expanded has-icons-left">
							        <input class="input" type="file" placeholder="Photo 4">
							        <span class="icon is-small is-left">
							          <i class="fas fa-user"></i>
							        </span>
							      </p>
						    	</div>
						      </div>
						    </div>
							<div class="field is-horizontal">
							  <div class="field-label">
							    <!-- Left empty for spacing -->
							  </div>
							  <div class="field-body">
							    <div class="field">
							      <div class="control">
							        <button class="button is-primary">
							          Send message
							        </button>
							      </div>
							    </div>
							  </div>
							</div>
							</form>
						</div>	
				  	<div class="column is-2">
				  		<img src="./../assets/img/online-consultation-picture-guide-289x300.jpg">	
				  	</div>
				</div>	
			</section>
		</template>
		<script>
		export default {
			name: "Consultation",
		};
		</script>
		<style lang="scss" scoped></style>
 