<template>
<div class="container mx-auto">
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            <!--Card 1-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <i class="fa fa-camera text-xl"></i>
                </div>    
          
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Take Pictures</div>
                    <p class="text-gray-700 text-base">
                      Take pictures about your complaints. Take various pictures and  send them to us using our contact form or email.
                    </p>
                </div>
            </div>
        </div>
            <!--Card 2-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image ">
                <div class="card-image text-center text-lg">
                    <i class="fa fa-envelope"></i>
                </div>
              
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Send us</div>
                    <p class="text-gray-700 text-base">
                      Contact us using our contact form or email. Send a  detailed explanation about  your complaints. That will help us to guide you correctly.
                    </p>
                </div>
                
            </div>
        </div>
            

            <!--Card 3-->
        <div class="card is-shady ">
            <div class="rounded overflow-hidden shadow-lg">
                <div class="card-image text-center  text-lg">
                    <i class="fas fa-solid fa-plane-departure"></i>
                </div>
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Get Your Plan</div>
                    <p class="text-gray-700 text-base">
                      We will  contact you to tell your detailed travel and treatment plan and prepare special offers for you by email or through phone.
                    </p>
                </div>
            </div>
        </div>
            
    </div>
</div>
<div class="flight intro-2"></div>
<div
  class="
    container
    p-10
    mx-auto
    my-16
    text-center
    rounded-xl
    grid 
    grid-cols-1 
    sm:grid-cols-1 
    md:grid-cols-3 
    lg:grid-cols-3 
    xl:grid-cols-3 
    gap-5
  "
  v-for="(treatment, index) in treatments"
  :treatment="treatment"
  :index = "index"
  :key="treatment.slug"

>
 
        
           <!--Card 1-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link :to="{ name:  'Treatment', params: 'slug'}">
                        <img src="{{treatment.image}}" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">{{treatment.title}}/div>
                        <p class="text-gray-700 text-base" v-html="treatment.excerpt"></p>
                        <router-link :to="{name:'Treatment', params:{slug:'treatment.slug'}}">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>         
    </div>    
</div>    
</template>
 

<script>
import Slider from '$$/components/Slider.vue';
import gql from "graphql-tag";

export default {
    name: 'Home',
    components: {
        Slider,
    },
    data () {
        return {
            treatments: '',
        }
    },
    async created () {
        const treatments = await this.$apollo.query({
            query: gql` 
              query treatments {
                    allTreatments {
                        title
                        slug
                        excerpt
                    }
                }
            `
        })
        
        this.treatments = treatments.data.allTreatments;
      },
};
</script>
<style lang="scss" scoped>
.card-image > .fa, .card-image > .fas {
    font-size: 8rem;
    padding-top: 2
rem
;
    padding-bottom: 2
rem
;
    color: #00d1b2;
}
</style>
