<template>
<div class="container mx-auto">
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            <!--Card 1-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <i class="fa fa-camera"></i>
                </div>    
          
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Take Pictures</div>
                    <p class="text-gray-700 text-base">
                      Take pictures about your complaints. Take various pictures and  send them to us using our contact form or email.
                    </p>
                </div>
            </div>
        </div>
            <!--Card 2-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image ">
                <div class="card-image text-center">
                    <i class="fa fa-envelope"></i>
                </div>
              
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Send us</div>
                    <p class="text-gray-700 text-base">
                      Contact us using our contact form or email. Send a  detailed explanation about  your complaints. That will help us to guide you correctly.
                    </p>
                </div>
                
            </div>
        </div>
            

            <!--Card 3-->
        <div class="card is-shady ">
            <div class="rounded overflow-hidden shadow-lg">
                <div class="card-image text-center">
                    <i class="fas fa-solid fa-plane-departure"></i>
                </div>
                <div class="px-6 py-12">
                    <div class="font-bold text-xl mb-2">Get Your Plan</div>
                    <p class="text-gray-700 text-base">
                      We will  contact you to tell your detailed travel and treatment plan and prepare special offers for you by email or through phone.
                    </p>
                </div>
            </div>
        </div>
            
    </div>
</div>
<div class="flight intro-2"></div>
<div
  class="
    container
    p-10
    mx-auto
    my-16
    text-center
    rounded-xl
    grid 
    grid-cols-1 
    sm:grid-cols-1 
    md:grid-cols-3 
    lg:grid-cols-3 
    xl:grid-cols-3 
    gap-5
  "
  v-for="(treatment, index) in treatments"
  :treatment="treatment"
  :index = "index"
  :key="treatment.slug"

>
 
        
           <!--Card 1-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link :to="{name:'Treatment', params:{slug:'treatment.slug'}}">
                        <img src="{{treatment.image}}" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">{{treatment.title}}/div>
                        <p class="text-gray-700 text-base">{{treatment.excerpt}}</p>
                        <router-link :to="{name:'Treatment', params:{slug:'treatment.slug'}}">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>         



        <!--Card 3-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/spine-pain.jpg" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Herniated Disc</div>
                        <p class="text-gray-700 text-base">
                            Turkey is a tourism country which has a lovely sun. It is one of the main routes of British people to visit.</p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/oncology-patient.jpg"  class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Oncology</div>
                        <p class="text-gray-700 text-base">
                          Cancer treatment according to the strict international protocols.
                        </p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <!--Card 5-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/woman-patient-dentist.jpg"  class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Dental Treatments</div>
                        <p class="text-gray-700 text-base">
                          With our doctors in  Uk you will be diagnosed in England and guided to Turkey safely..
                        </p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
            <!--Card 6-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/implants-2.jpeg" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Dental Implants</div>
                        <p class="text-gray-700 text-base">
                          Dental implants help restore your smile and your self-confidence. If you suffer from missing teeth or damaged teeth that need removing then implants can provide you with a long lasting solution to your dental problems.
                        </p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
            <!--Card 5-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/dsd-turkey.jpg" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Digital Smile Design</div>
                        <p class="text-gray-700 text-base">
                          Digital smile design is a software program that allows you to realize an aesthetic and functional smilelems.
                        </p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>            
        <!--Card 6-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/holywood-smile.jpeg"  class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Hollywood Smile</div>
                        <p class="text-gray-700 text-base">
                          Hollywood smile is changing a persons life. You will have the best look and smile. Self-trust is the main thing problem of the modern people.
                        </p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
                    <!--Card 2-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/beautiful-dentist-office.jpg"  class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-6 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Highest Hygiene & Safety Standards</div>
                        <p class="text-gray-700 text-base">
                          Hygiene is a topmost concern, that is why a heightened emphasis is put on safe hygienic principles for the safety of all patients, doctors and staff.
                        </p>
                        <router-link to="#">
                        <button
                          class="
                            bg-green-500
                            text-white
                            active:bg-green-600
                            font-bold
                            uppercase
                            text-xs
                            px-4
                            py-2
                            rounded
                            shadow
                            hover:shadow-md
                            outline-none
                            focus:outline-none
                            mr-1
                            mb-1
                            ease-linear
                            transition-all
                            duration-150
                          "
                          type="button"
                            >
                              Read more...
                        </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
         <!--Card 8-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/turkey-background.jpg" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Travelling To Turkey</div>
                        <p class="text-gray-700 text-base">
                            Turkey is a tourism country which has a lovely sun. It is one of the main routes of British people to visit.</p>
                        <p class="text-gray-700 text-base">You will love the people in Turkey. People are very welcoming and kind.</p>
                        <p class="text-gray-700 text-base">Beatiful beaches and beatiful food another shot to see</p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
         
         <!--Card 10-->
        <div class="card is-shady">
            <div class="rounded overflow-hidden shadow-lg card-image">
                <div class="card-image text-center">
                    <router-link to="#">
                        <img src="./../assets/img/hair-process.jpg" class="card-thumbnail"  alt="Description">
                    </router-link>
                </div>    
          
                <div class="px-6 py-4 card-height">
                    <div class="card-content"> 
                        <div class="font-bold text-xl mb-2">Hair Transplantation</div>
                        <p class="text-gray-700 text-base">
                            A hair transplant is a procedure to move hair to an area that's thin or bald.</p>
                        <router-link to="#">
                            <button
                              class="
                                bg-green-500
                                text-white
                                active:bg-green-600
                                font-bold
                                uppercase
                                text-xs
                                px-4
                                py-2
                                rounded
                                shadow
                                hover:shadow-md
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150
                              "
                              type="button"
                                >
                                  Read more...
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
</div>        
</template>
<script>
import Slider from '$$/components/Slider.vue';
export default {
	name: 'Home',
	components: {
		Slider,
	}
};
</script>
<style lang="scss" scoped></style>
