<template>
	<section>
		<div class="container" v-html="treatment.content">
			
		</div>
	</section>
</template>
<script>
import gql from 'graphql-tag'
export default {
	name: 'Treatment',
	data () {
		return {
			treatment: null,
		}
	},
	async created(){
		const treatment = await this.$apollo.query({
			query: gql` query($slug:String!) {
				treatmentBySlug(slug: $slug) {
					title
					slug
					content
				}
			}`,
        variables: {
          slug: this.$route.params.slug,
        },
      })

		this.treatment = treatment.data.treatmentBySlug
	},
};
</script>
<style lang="scss" scoped></style>
