<template>
	<section class="section is-medium">
		<div class="container" v-html="page.content"></div>
	</section>
</template>
<script>
import gql from "graphql-tag";

export default {
	name: 'About',
	data () {
    	return {
      		page: null,
    	}
  	},
	async created () {
	    const page = await this.$apollo.query({
	        query: gql`query ($slug: String!) {
	          pageBySlug(slug: $slug) {
	            title
	            slug
	            content
	        	}
	    	}`
	    		,
	        variables: {
	          slug: "about-us",
	        },
	    })
	    this.page = page.data.pageBySlug
	    console.log(page.data.pageBySlug)
	    console.log(this.page)
	  },
};
</script>
<style lang="scss" scoped></style>
 