<template>
		<Carouselv />
        <section class="container">
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-camera"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Send your pictures </h4>
                                <p>You can use our contact form, email us, skype,
                                Whatsapp or call us.</p>
                                <p><a href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Get your free assesment and package offer</h4>
                                <p>Your personal treatment plans and package offers will be e-mailed to you after your pictures</p>
                                <p><a href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fas fa-solid fa-plane-departure"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4> Book your ticket </h4>
                                <p>Either you can plan your journey or leave it us to plan for you.</p>
                                <p><a href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="flight intro-2"></div>
        <section class="container">
            <div class="intro has-text-white column is-8 is-offset-2">
                <h2 class="title">Get Treatment while visiting lovely Turkey!</h2><br>
                <p class="subtitle">So many words come to mind when you see the beauty of Turkey. Not only beautiful but also unique, not only sights but unforgettable experiences. This is what vacation in Turkey is. Turkey offers nothing less than a good life with happy memories.</p>
            </div>
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Medical Treatments</p>
                            <p class="subtitle">While consulting our professional team, you will be guided to specialized doctors.</p>
                            <figure class="image is-4by3">
                                <img src="./../assets/img/medical.jpeg" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Dental Treatments</p>
                            <p class="subtitle">You will be expected in Uk and guided to Turkey safely.</p>
                            <figure class="image is-4by3">
                                <img src="./../assets/img/dental.jpeg" alt="Description">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Highest Hygiene & Safety Standards</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Hygiene is a topmost concern, that is why a heightened emphasis is put on safe hygienic principles for the safety of all patients, doctors and staff.</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Implants</p>
                                    <p class="subtitle">Dental implants help restore your smile and your self-confidence. If you suffer from missing teeth or damaged teeth that need removing then implants can provide you with a long lasting solution to your dental problems.</p>
                                    <figure class="image is-4by3">
                                        <img src="./../assets/img/implants-2.jpeg" alt="Description">
                                    </figure>
                                </article>
                                <article class="tile is-child notification is-white">
                                    <p class="title"> Digital Smile Design </p>
                                    <p class="subtitle">Digital smile design is a software program that allows you to realize an aesthetic and functional smile.</p>
                                    <figure class="image is-4by3">
                                        <img src="./../assets/img/smile-design.jpeg" alt="Description">
                                    </figure>
                                </article>

                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Hollywood Smile</p>
                                    <p class="subtitle">Change your look</p>
                                    <p>Hollywood smile is changing a persons life. You will have the best look and smile. Self-trust is the main thing problem of the modern people.</p>

                                    <figure class="image is-4by3">
                                        <img src="./../assets/img/holywood-smile.jpeg" alt="Description">
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="tile is-parent is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Oncology</p>
                                <div class="content">
                                    <p>Cancer treatment according to the strict international protocols. </p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <div class="content">
                                <p class="title">Travelling To Turkey</p>
                                <p class="subtitle">Country of Wonderful Sunshine</p>
                                <div class="content">
                                    <p>Turkey is a tourism country which has a lovely sun. It is one of the main routes of British people to visit.</p>
                                    <p>You will love the people in Turkey. People are very welcoming and kind.</p>
                                    <p>Beatiful beaches and beatiful food another shot to see</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Side column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Herniated Disc</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                                <router-link :to="{name:'Treatment', params:{slug:'herniated-disc'}}">Show more...</router-link>
                                <figure class="3">
                                    <img src="./../assets/img/herniated-disc.jpg" alt="Description">
                                </figure>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Hair Transplants</p>
                            <p class="subtitle">Get the best results</p>
                            <div class="content">
                                <p>A hair transplant is a procedure to move hair to an area that's thin or bald.</p>
                                <figure>
                                    <img src="./../assets/img/hair_costner.jpg" alt="Description">
                                </figure>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Main column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
</template>
<script>
import Carouselv from '$$/components/Carousel.vue';
export default {
	name: 'Home',
	components: {
		Carouselv,
	}
};
</script>
<style lang="scss" scoped></style>
