<template>
    <nav class="hidden  top-menu container mx-auto   px-8 lg:grid grid-cols-3 gap-4 md:6 lg:6 bg-white h-12 border-b-2">
      <div class="grid justify-items-end">
      <!-- top bar left -->
      <ul class="flex place-items-center ">
        <!-- add button -->
        <li class="h-6 w-24 inline-flex items-center">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
          <span class="h-6 w-12">info@medtourism.uk</span>
        </li>
      </ul>
    </div>
    <div class="grid justify-items-center">
      <ul class="flex place-items-center">
        <!-- add button -->
        <!-- add button -->
        <li class="h-6 w-24 inline-flex items-center">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
          <span class="h-6 w-12">+447496449067</span>
        </li>
      </ul>
    </div>
    <div class="grid justify-items-start">
      <!-- to bar right  -->
      <ul class="flex items-center">

        <li class="pr-6">
          <i class="fab fa-facebook" aria-hidden="true"></i>

        </li>
        <li class="pr-6">
          <i class="fab fa-instagram" aria-hidden="true"></i>

        </li>
        <li class="pr-6">
          <i class="fab fa-youtube" aria-hidden="true"></i>

        </li>
        <li class="h-4 w-4 inline-flex items-center">
          <button type="button" class=" text-white  bg-teal-400 hover:bg-teal-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1  text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Choose plan
            <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        </li>

      </ul>
    </div>
    </nav>
  <nav class="bg-white shadow-lg sticky top-0 z-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="#" class="flex">
        <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white"><img class="logo-image" src="./../assets/img/med-logo.png"/></span>
    </a>
    <button data-collapse-toggle="mobile-menu" @click="showMenu = !showMenu" type="button"  class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
    <div :class="showMenu ? 'flex' : 'hidden'"  class="w-full md:block md:w-auto"  id="mobile-menu">
      <ul class="flex flex-col list-none mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <router-link :to="{ name: 'Home' }" class="block no-underline py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100    md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'Page', params:{ slug:'about-us'}}" class="block no-underline py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100    md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'Treatments'}" class="block no-underline py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Treatments</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'Pricing'}" class="block no-underline py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</router-link>
        </li>
        <li>
          <router-link :to="{ name:'Contact' }" class="block no-underline py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>
<script lang="ts">
import { ref } from 'vue';
export default {
    name: 'Navigation',
    data () {
        return {
            showMenu: false,
        }
    },
 
};

</script>
<style lang="scss" scoped>
.logo-image {
  max-height:75px;
}

</style>
