{% block html %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block head%}
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
	    <title>Medtourism</title>
    {% endblock %}
   </head>
   <body>
   		 {% block body%}
   		 	{% block content %}
   		 	{% endblock %}
   		 {% endblock %}
   </body>
</html>
{% endblock %}