<template>
	<div class="container mx-auto mt-20">
		<h1 class="
				font-bold
				text-2xl" v-html="treatmentBySlug.title"></h1>
		<p class="text-lg
					leading-9
					tracking-wider
					text-serif
					mt-20
					px-2
					py-4
					shadow-md
					rounded-md
					bg-white 
					" v-html="pageBySlug.content"></p>
	</div>
</template>
 
<script  lang="ts">
import gql from "graphql-tag";
import { ref } from 'vue';
import { PaperClipIcon } from '@heroicons/vue/solid'
export default {
    name: 'Page',
    components: {
        PaperClipIcon
    },
    data () {
        return {
            pageBySlug: '',
            slug: this.$route.params.slug
           
        }
    },
    apollo: {
        pageBySlug: {
                query: gql` query($slug:String!) {
									pageBySlug(slug: $slug) {
										title
										slug
										content
									}
								}
                `,
           variables () {
             return {
                 slug: this.$route.params.slug
             }
        }
        }
    }
 
};
</script>
<style lang="scss" scoped></style>
 