		<template>
			<div class="container mx-auto px-4 py-6 font-sans text-lg">
				<div class="grid lg:grid-cols-4 md:grid-cols-1 sm:grid-cols-1 gap-8">
					<div  class="
								bg-white
								px-4
								py-20
								shadow-md 
								rounded-md 
								col-start-1  
								col-end-3 
								mt-20">
				    	<p class="font-sans text-left">
				    		You can ask any kind of problems and questions here.
				    	</p>
				    	<p class="font-sans text-left">
				    		Your e-mail address is required. If you enter your mobile number, we will contact you via phone.
				    	</p>

				    	<p class="font-sans text-left">
				    		We thank you and we wish healthy days for you.
				    	</p>
					</div>
					<div  class="
								p-4 
								shadow-md 
								rounded-md 
								mt-20
								bg-white 
								col-start-3 
								col-end-8
								flex
								justify-center">
				    	<form enctype="multipart/form-data" class="w-1/2" @submit.prevent="sendEmail" >
				    	  <div class="mb-6">
						    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your name</label>
						    <input type="text" v-model="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
						  </div>
						  <div class="mb-6">
						    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
						    <input type="email" v-model="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required>
						  </div>
						  <div class="mb-6">
						    <label for="phone"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Phone</label>
						    <input type="text" v-model="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
						  </div>
						  <div class="mb-6">
						    <label for="phone"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">subject</label>
						    <input type="text" v-model="subject" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
						  </div>
						  <div class="mb-6">
						    <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Question</label>
						    <input type="text" v-model="message" id="large-input" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
						</div>
						  <button type="submit" class="text-white bg-teal-400 hover:bg-teal-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
						</form>
					</div>	
				</div>	
			</div>
 		</template>
		<script lang="ts">
		import axios from 'axios';
		axios.defaults.xsrfCookieName = 'csrftoken';
		axios.defaults.xsrfHeaderName = 'X-CSRFToken';
		export default {
			name: "Contact",
			data() {
				return {
					name: '',
					email: '',
					phone: '',
					message: '',
					subject: ''
				};
			},
			methods: {
				sendEmail() {
					axios
						.post("send_email/", {
							name: this.name,
							email: this.email,
							phone: this.phone,
							message: this.message,
							subject: this.subject,
							xstfCookieName: 'csrftoken',
                    		xsrfHeaderName: 'X-CSRFToken',
                    		headers: {
                        		'X-CSRFToken': 'csrftoken',
                    		}
						})
						.then((response) => {
							console.log(response);
						})
				}
			}
		};
		</script>
		<style lang="scss" scoped></style>
 