<template>
	<div class="container mx-auto">
		<section class="mt-20">
			<div class="border-b border-gray-200 dark:border-gray-700">
			    <ul class="flex flex-wrap -mb-px">
			        <li class="mr-2">
			            <a href="#pounds" class="inline-block py-4 px-4 text-sm font-medium text-center active text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300">Price in Pounds</a>
			        </li>
			        <li class="mr-2">
			            <a href="#dollars" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 rounded-t-lg border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500">Price in Dollars</a>
			        </li>
			        <li class="mr-2">
			            <a href="#" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300">Settings</a>
			        </li>
			        <li class="mr-2">
			            <a href="#" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300">Contacts</a>
			        </li>
			        <li>
			            <a class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Disabled</a>
			        </li>
			    </ul>
			</div>
			</section>
			<div class="flex flex-col" id="pounds">
				<div class="overflow-x-auto sm:-mx-6 lg:-mx-8" >
		        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
		            <div class="overflow-hidden shadow-md sm:rounded-lg 
		            	bg-white
		            	bg-rounded">
		            	<h2 class="
		            		subtitle 
		            		font-bold
		            		text-xl
		            		text-center">TEETH BLEACHING&WHITENING in dollars</h2>
		                <table class="min-w-full mt-20">
		                    <thead class="bg-gray-100 dark:bg-gray-700">
		                        <tr>
		                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
		                                Services
		                            </th>
		                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
		                                Price
		                            </th>
		                             
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <!-- Product 1 -->
		                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
		                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
		                                E.MAX® VENEER / CROWN
										(Sirona Smile Design and CAD/CAM Technology) 
		                            </td>
		                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
		                                £300
		                            </td>
		                        </tr>
		                        <!-- Product 2 -->
		                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
		                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
		                                ZIRCONIUM VENEER / CROWN
										(Sirona Smile Design and CAD/CAM Technology) 
		                            </td>
		                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
		                                £250
		                            </td>
		                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
		                                <a href="#" class="text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:underline">Edit</a>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    	</div>
		    </div>
			<div class="flex flex-col" id="dollars">
			    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
			        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
			            <div class="overflow-hidden shadow-md sm:rounded-lg 
			            	bg-white
			            	bg-rounded">
			            	<h2 class="
			            		subtitle 
			            		font-bold
			            		text-xl
			            		text-center">VENEER, CROWN & LUMINEER PRICES in dollar </h2>
			                <table class="min-w-full mt-20">
			                    <thead class="bg-gray-100 dark:bg-gray-700">
			                        <tr>
			                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
			                                Services
			                            </th>
			                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
			                                Price
			                            </th>
			                             
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <!-- Product 1 -->
			                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
			                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
			                                E.MAX® VENEER / CROWN
											(Sirona Smile Design and CAD/CAM Technology) 
			                            </td>
			                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
			                                £300
			                            </td>
			                        </tr>
			                        <!-- Product 2 -->
			                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
			                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
			                                ZIRCONIUM VENEER / CROWN
											(Sirona Smile Design and CAD/CAM Technology) 
			                            </td>
			                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
			                                £250
			                            </td>
			                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
			                                <a href="#" class="text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:underline">Edit</a>
			                            </td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			</div>
    		<div class="flex flex-col">
			    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
			        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
			            <div class="overflow-hidden shadow-md sm:rounded-lg 
			            	bg-white
			            	bg-rounded">
			            	<h2 class="
			            		subtitle 
			            		font-bold
			            		text-xl
			            		text-center">TEETH BLEACHING&WHITENING</h2>
			                <table class="min-w-full mt-20">
			                    <thead class="bg-gray-100 dark:bg-gray-700">
			                        <tr>
			                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
			                                Services
			                            </th>
			                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
			                                Price
			                            </th>
			                             
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <!-- Product 1 -->
			                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
			                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
			                                E.MAX® VENEER / CROWN
											(Sirona Smile Design and CAD/CAM Technology) 
			                            </td>
			                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
			                                £300
			                            </td>
			                        </tr>
			                        <!-- Product 2 -->
			                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
			                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
			                                ZIRCONIUM VENEER / CROWN
											(Sirona Smile Design and CAD/CAM Technology) 
			                            </td>
			                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
			                                £250
			                            </td>
			                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
			                                <a href="#" class="text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:underline">Edit</a>
			                            </td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			</div>
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg 
            	bg-white
            	bg-rounded">
            	<h2 class="
            		subtitle 
            		font-bold
            		text-xl
            		text-center">RESTORATIVE PROCEDURES</h2>
                <table class="min-w-full mt-20">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Services
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Price
                            </th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Product 1 -->
                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                E.MAX® VENEER / CROWN
								(Sirona Smile Design and CAD/CAM Technology) 
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                £300
                            </td>
                        </tr>
                        <!-- Product 2 -->
                        <tr class="odd:bg-white even:bg-gray-50 border-b odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                ZIRCONIUM VENEER / CROWN
								(Sirona Smile Design and CAD/CAM Technology) 
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                £250
                            </td>
                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <a href="#" class="text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:underline">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
		<section class="mt-20">
			<div class="flex flex-col">
			  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
			    <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
			    	<h1 class="
			    			title
			    			font-bold
			    			text-2xl 
			    			text-center"> Medical Treatments</h1>
			      <div class="overflow-hidden mt-20">
			        <table class="min-w-full text-center">
			          <thead class="border-b bg-gray-800">
			            <tr>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                #
			              </th>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                Treatments List
			              </th>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                Price
			              </th>
			            </tr>
			          </thead >
			          <tbody class="border-b">
			            <tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Mark
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Otto
			              </td>
			               
			            </tr>
			            <tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Jacob
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Thornton
			              </td>
			               
			            </tr>
			            <!--<tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
			              <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">
			                Larry the Bird
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                @twitter
			              </td>
			            </tr>-->
			          </tbody>
			        </table>
			      </div>
			    </div>
			  </div>
			</div>
		</section>
		<!-- First Section -->
		<section class="mt-20">
			<div class="flex flex-col">
			  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
			    <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
		    	<h1 class="
		    			title
		    			font-bold
		    			text-2xl 
		    			text-center"> Medical Treatments</h1>
			      <div class="overflow-hidden mt-20">
			        <table class="min-w-full text-center">
			          <thead class="border-b bg-gray-800">
			            <tr>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                #
			              </th>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                First
			              </th>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                Last
			              </th>
			              <th scope="col" class="text-sm font-medium text-white px-6 py-4">
			                Handle
			              </th>
			            </tr>
			          </thead >
			          <tbody class="border-b">
			            <tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Mark
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Otto
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                @mdo
			              </td>
			            </tr>
			            <tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Jacob
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                Thornton
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                @fat
			              </td>
			            </tr>
			            <tr class="bg-white border-b">
			              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
			              <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">
			                Larry the Bird
			              </td>
			              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
			                @twitter
			              </td>
			            </tr>
			          </tbody>
			        </table>
			      </div>
			    </div>
			  </div>
			</div>
		</section>
</template>
<script  lang="ts">
import gql from "graphql-tag";
import { ref } from 'vue';
import { PaperClipIcon } from '@heroicons/vue/solid'
export default {
    name: 'Pricing',
    components: {
        PaperClipIcon
    },
    data () {
        return {
            pricings: [],
            activeTab: 0,
	      	tabs: [
	          "Tab No.1",
	          "Tab No.2",
	          "Tab No.3",
	          "Tab No.4",
	      	]
        }
    },
    apollo: {
        allPricings: {
                query: gql`
                    query {
                        allPricings {
                            title
                            slug
                            excerpt
                            image
                        }
                    }
                `
        }
    }
 
};
</script>
<style lang="scss" scoped></style>
 