<template>
	<div class="container mx-auto mt-20">
		<h1 class="
				font-bold
				text-2xl" v-html="treatmentBySlug.title"></h1>
		<p class="text-left py-20" v-html="treatmentBySlug.content"></p>
	</div>
</template>
<script  lang="ts">
import gql from "graphql-tag";
import { ref } from 'vue';
import { PaperClipIcon } from '@heroicons/vue/solid'
export default {
    name: 'Treatment',
    components: {
        PaperClipIcon
    },
    data () {
        return {
            treatmentBySlug: '',
            slug: this.$route.params.slug
           
        }
    },
    apollo: {
        treatmentBySlug: {
                query: gql` query($slug:String!) {
									treatmentBySlug(slug: $slug) {
										title
										slug
										content
									}
								}
                `,
           variables () {
             return {
                 slug: this.$route.params.slug
             }
        }
        }
    }
 
};
</script>

<style lang="scss" scoped></style>
