<template>

  <div class="container 
             mx-auto 
             p-10 
             grid 
             grid-cols-1 
             sm:grid-cols-1 
             md:grid-cols-3 
             lg:grid-cols-3 
             xl:grid-cols-3 
             gap-5">
    <!--Card 1-->
    <div class="rounded 
                overflow-hidden 
                shadow-lg"
                v-for="treatment in allTreatments"
                :key="treatment.id">
      <img class="
                w-full 
                h-64" 
                :src="'http://localhost:8000/media/' + treatment.image" alt="Mountain">
      <div class="px-6 
                  py-4">
        <div class="font-bold 
                    text-xl 
                    mb-2
                    ">{{treatment.title}}</div>
        <p class="text-gray-700 
                text-base
                h-24
                pb-2
                border-b-2" 
                v-html="treatment.excerpt">
        </p>
      </div>
      <div class="px-6 py-4">
        <button type="button" class=" px-6 py-2.5 bg-teal-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
            <router-link :to="{name: 'Treatment', params:{slug:treatment.slug}}">Read More ...</router-link>
        </button>
      </div>
    </div>
  </div>
</template>
<script  lang="ts">
import gql from "graphql-tag";
import { ref } from 'vue';
import { PaperClipIcon } from '@heroicons/vue/solid'
export default {
    name: 'Treatments',
    components: {
        PaperClipIcon
    },
    data () {
        return {
            treatments: [],
        }
    },
    apollo: {
        allTreatments: {
                query: gql`
                    query {
                        allTreatments {
                            title
                            slug
                            excerpt
                            image
                        }
                    }
                `
        }
    }
 
};
</script>
<style lang="scss" scoped></style>
