<template>
  <carousel :items-to-show="1">
    <slide class ="carousel-slider-height">
      <img src="./../assets/img/antalya.jpeg"/>
    </slide>
    <slide class ="carousel-slider-height">
      <img src="./../assets/img/sliderturkey.jpg"/>
    </slide>
    <slide class ="carousel-slider-height">
      <img src="./../assets/img/antalya.jpeg"/>
    </slide>
    <slide class ="carousel-slider-height">
      <img src="./../assets/img/istanbul.jpeg"/>
    </slide>

    <template #addons>
      <navigation />
      <pagination />
    </template>
  </carousel>
</template>

<script lang="ts">
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
export default {
	name: 'Carouselv',
    components: {
        Carousel,
        Slide,
        Pagination,
        Navigation,
      }
};
</script>
<style>
.carousel__item {
  min-height: 200px;
  max-height: 800px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color:  var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
</style>le>
 