<template>
	<section class="container">
		<div class="columns is-size-7">
		  <div class="column">
		    <ul>
				<li><router-link :to="{name: 'Home'}" class="is-size-7">Home</router-link></li>	    	
				<li><router-link :to="{name: 'About'}">About Us</router-link></li>	    	
				<li><router-link :to="{name: 'Contact'}">Contact</router-link></li>	    	
		    </ul>
		  </div>
		  <div class="column">
		  	<ul>
		  		<li><router-link :to="{name: 'Home'}" class="is-size-7">Dental Treatments</router-link></li>	    	
		  		<li><router-link :to="{name: 'Home'}" class="is-size-7">Dental Treatments</router-link></li>	    	
				<li><router-link :to="{name: 'About'}">Spine Problems</router-link></li>	    	
				<li><router-link :to="{name: 'Contact'}">Contact</router-link></li>
		  	</ul>
	  </div>
		  <div class="column">
		    Third column
		  </div>
		  <div class="column">
		    Fourth column
		  </div>
		</div>
	</section>
</template>
<script>
export default {
	name: 'Footer',
};
</script>
<style lang="scss" scoped></style>
 