<template>
  <Navigation />
  <router-view />
  <Footer />
</template>
<script lang="ts">
import {defineComponent, ref} from "vue";
import Navigation from "./components/Navigation";
import Footer from "./components/Footer";
import "bulma";
;
import "./assets/css/style.css";
export default defineComponent({
  components: {
    Navigation,
    Footer,
  }
});
</script>

